# Cache and logs (Symfony2)
*/logs/*
*/cache/*

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Composer PHAR
/composer.phar

# Anciens et fichiers temporaires
old*
*.old
*.tmp
