{###}
{# Blocks WIDGETS des formulaires #}
{##}

{#% extends "form_div_layout.html.twig" %#}

{% block olix_switch_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock olix_switch_widget %}


{% block olix_datepicker_widget %}
    <div class="input-group date" id="{{ id }}_datepicker" style="width:200px;">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
{% endblock olix_datepicker_widget %}

